body {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: auto;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
}

.logo {
  position: relative;
  width: 105px;
  height: 39px;
  padding-left: 30px;
  padding-top: 30px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  column-gap: 20px;
  list-style: none;
  padding-right: 26px;
  padding-top: 30px;
  margin-top: 0;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.header-title {
  position: relative;
  max-width: 709px;
  padding-left: 80px;
  margin: 0;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}

.span-accent {
  display: block;
  font-family: "Times New Roman";
  font-style: italic;
  font-size: 58px;
  line-height: 72px;
  color: #ff976b;
}

.header-image {
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
}

.header-description {
  margin: 0;
  position: relative;
  padding-left: 80px;
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
}

.header-info {
  display: flex;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 40px;
  justify-content: space-between;
  align-items: end;
}

.info-text {
  margin: 0;
  font-weight: 500;
  color: #6f6f6f;
}
