body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 1100px;
  max-width: 1600px;
  height: 100vh;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: auto;
}

.header {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  justify-content: space-between;
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  width: 100%;
  min-height: 720px;
  max-height: 800px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  position: relative;
  width: 105px;
  height: 39px;
  padding-left: 30px;
  padding-top: 30px;
}

.nav-links {
  display: flex;
  column-gap: 20px;
  list-style: none;
  padding-right: 26px;
  padding-top: 30px;
  padding-left: 0;
  margin-top: 0;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.header-title {
  position: relative;
  max-width: 709px;
  padding-left: 80px;
  margin: 0;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  top: 183px;
}

.span-accent {
  display: block;
  font-family: "Times New Roman";
  font-style: italic;
  font-size: 58px;
  line-height: 72px;
  color: #ff976b;
}

.header-image {
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
}

.header-description {
  position: relative;
  top: 211px;
  margin: 0;
  position: relative;
  padding-left: 80px;
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
}

.header-info {
  position: relative;
  display: flex;
  flex-basis: 100%;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 40px;
  justify-content: space-between;
  align-items: end;
}

.info-text {
  margin: 0;
  font-weight: 500;
  color: #6f6f6f;
}

/*Styles for content*/

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #ffd6c5;
  background-image: url(../images/background_reservation.svg);
  background-size: cover;
}

.reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  max-width: 385px;
  margin-bottom: 120px;
}

.form__title {
  font-family: "Inter";
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-top: 100px;
  margin-bottom: 80px;
}

.form__name,
.form__date,
.form__num,
.form__email {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Inter";
  font-size: 20px;
  line-height: 30px;
}

.form__input {
  border-width: 1px;
  border-radius: 4px;
  border-color: #838383;
  color: #838383;
  box-sizing: border-box;
  height: 60px;
  padding: 15px 20px 15px 20px;
  margin-bottom: 32px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label {
  margin-bottom: 8px;
}

.form__button {
  width: 100%;
  height: 60px;
  border-radius: 4px;
  background-color: #e96e3a;
  border: 0;
  color: #ffffff;
  padding: 0;
  margin-bottom: 32px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__checkbox {
  display: flex;
  align-items: center;
  gap: 12px;
}

.form__input-checkbox {
  border-radius: 2px;
  border-color: #4f4f4f;
  height: 20px;
  width: 20px;
}

/*Styles for footer*/

.contacts {
  display: flex;
  width: 100%;
  background-color: #d35722;
}

.circle {
  position: absolute;
  z-index: 0;
  border-radius: 100%;
  background-color: #e96e3a;
  width: 340px;
  height: 340px;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.media__list {
  list-style: none;
}
